mixin content_block(count, blockContentTitle, blockContentText, pathImg, classNameContainer, linkShow, arrowVariant)
    div.block-content(class=classNameContainer)
        div.title
            div.count
                span=count
            h1=blockContentTitle
        div.content
            span=blockContentText
            img(src=pathImg)
            if linkShow !== ''
                div.linkShow
                    a(href=linkShow) Посмотреть работы
                    div(class=arrowVariant)