extends ../../components/head/head
block title
    | about_us

block main
    div.main
        div.opacity
        include ../../components/menu/menu
        div.container-form
            include ../../components/form/form
            +create_form("form")
        include ../../components/mobile-menu/mobile-menu
        include ../../components/header/header
        div.container-content
            div.first-block
                include ../../components/block-content/block-content
                +content_block('1', 'Заполнение клиентом брифа', 'Клиент заполняет бриф, отвечая на основные вопросы.' +
                ' Бриф помогает сформировать представление о будущем сайте, его стиле, цветовом решении и функционале.', require('./img/one_image.png'), 'first')
                +content_block('2', 'Проведение конкурентного анализа', 'Анализируя сайты конкурентов, мы предлагаем' +
                ' вам лучший опыт в вашей сфере и учитываем ошибки и недочеты в дизайне уже созданных ресурсов.', require('./img/two_image.png'), 'second')
            div.second-block
                +content_block('3', 'Разработка фирменного стиля и логотипа', 'Клиент получает несколько вариантов логотипа в различной цветовой гамме.'
                +' После согласования цветы и формы, логотип дорабатывается и может использоваться как для сайта, так и полиграфии.', require('./img/three_image.png'), 'first')
                img(src=require('./img/img_design.png'))
            div.fhreed-block
                img(src=require('./img/proto_image.png'))
                +content_block('4', 'Создание прототипов страниц', 'Мы создаём детальные прототипы для каждой страницы сайта в нескольких вариантах.' +
                ' Благодаря этому клиент  еще до начала этапа разработки имеет четкое представление как будет выглядеть сайт.', require('./img/four_image.png'), 'first')
            div.fourt-block
                +content_block('5', 'Создание концепции', 'Согласовываем стилистику, основные функциональные и визуальные элементы сайта', require('./img/fifth_image.png'), 'first')
                img(src=require('./img/create_conception.png'))
            div.sixth-block
                div.container-slider
                    div.swiper-container.slider-maket
                        div.swiper-wrapper
                            img.swiper-slide(src=require('./img/slider-maket/slide-basta.jpg'))
                            img.swiper-slide(src=require('./img/slider-maket/slide-bidva.jpg'))
                            img.swiper-slide(src=require('./img/slider-maket/slide-nogu-svelo.jpg'))
                        div.nav-slide
                             div.swiper-button-prev
                             div.swiper-button-next
                +content_block('6', 'Разработка макета', 'Макет главной страницы отрисовывается дизайнером с ' +
                'учетом корпоративных цветов компании и ее логотипа. Визуально макет является полным отображением внешнего вида главной страницы сайта.\n', require('./img/sixth_image.png'), 'first')
            div.seventh-block
                +content_block('7', 'Разработка мобильной версии главной страницы', 'Мы создаем сайты, адаптированные под все виды мобильных устройств. ' +
                'Именно поэтому уже на этапе дизайна нами создается отдельная версия страниц в формате mobile.', require('./img/seventh_image.png'), 'first')
                img(src=require('./img/mobile_wersion_image.png'))
            div.eighth-block
                img(src=require('./img/create_maket_page.png'))
                +content_block('8', 'Разработка макетов типовых страниц  мобильная версия', 'Для каждого вида внутренних страниц мы создаем макет' +
                'и мобильную версию дизайна.', require('./img/eighth_image.png'), 'first')
            div.ninth-block
                +content_block('9', 'Разработка сложноструктурированных страниц', 'Отдельного внимания заслуживают страницы со сложной структурой. Это дизайн онлайн калькуляторов' +
                ',' + 'каталогов и их вложенности ' + ',' + 'корзины для заказа товаров ' + ',' +
                'карточки товара. Для них мы готовим не только макеты ' + ',' + 'но и дополнительные заменяющиеся материалы.', require('./img/ninth_image.png'), 'first')
                img(src=require('./img/dewelopment_hard_structure_site.png'))
            div.tenth-block
                div.container-slider
                    div.swiper-container.slider-form
                        div.swiper-wrapper
                            img.swiper-slide(src=require('./img/slider-form/create_form.jpg'))
                            img.swiper-slide(src=require('./img/slider-form/create_form.jpg'))
                            img.swiper-slide(src=require('./img/slider-form/create_form.jpg'))
                        div.nav-slide
                            div.swiper-button-prev.button-prev-form
                            div.swiper-button-next.button-next-form
                +content_block('10', 'Разработка дизайна pop-up форм', 'Для сайта дизайнер отрисовывает каждую форму обратной связи в ее ' +
                'вертикальном и горизонтальном размещении и мобильной версии.', require('./img/tenth_image.png'), 'first')
            div.eleventh.block
                +content_block('11', 'Подбор и обработка изображений для сайта', 'В рамках работы над дизайном сайта мы подбираем необходимый для размещения фотоконтент, если он не предоставлен клиентом. ' +
                'В случае заполнения каталогов для товаров без фото мы обязательно отрисовываем «заглушку».', require('./img/eleventh_image.png'), 'first')
                img(src=require('./img/image-treatment.png'))